<!DOCTYPE html>
<html>
    <head>
        <title>Leaderboard</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script defer src="/js/leaderboard.js"></script>
        <style>
            p {
                font-size: xx-large;
                font-family: "Monospace";
            }
            .gainsboro {
                color: gainsboro;
            }

            .green {
                color: green;
            }
            .title-color {
                color: #bf811d;
            }
        </style>
    </head>

    <body>
        <div id="app">
            <p v-for="lead in leaders">
                <b class="green">{{ lead.rank }}</b> <b v-if="lead.title" class="title-color">{{ lead.title }}</b> {{ lead.username }} <span class="gainsboro">({{ lead.score }})</span>
            </p>
        </div>
    </body>
</html>
