<!DOCTYPE html>
<html>
  <head>
    <title>Leaderboard</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script defer src="/js/leaderboard.js"></script>
    <link rel="stylesheet" href="/css/tournament_leaderboard.css" />
  </head>

  <body>
    <div id="app">
      <table cellspacing="0" cellpadding="0">
        <tr v-for="lead in leaders">
          <td class="rank-space"><b class="green">{{ lead.rank }}º</b></td>
          <td class="user-space">
            <b v-if="lead.title" class="title-color">{{ lead.title }}</b> {{
            lead.username }}
          </td>
          <td><span class="gainsboro">({{ lead.score }})</span></td>
        </tr>

        <tr></tr>
      </table>
    </div>
  </body>
</html>
